<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Api">
    <test name="PetTest">
        <classes>

            <class name="com.petstore.test.pet.UpdateDeletePets">
                <methods>
                    <include name="checkPetById"/>
                    <include name="updatePetData"/>
                    <include name="updatePetDataWithNonExistingId"/>
                    <include name="checkPetByNonExistingId"/>
                    <include name="delete"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>